{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sign In</title>
  <link rel="stylesheet" href="{% static 'css/style.bundle.css' %}">
</head>

<body>
  <div class="container">
    {{ form.errors }}

    <form class="sign-in-wrapper" method="POST"> {% csrf_token %}
      <div class="header">
        <h1>inflection</h1>
        <span>Create Your Account</span>
      </div>

<!--       <div class="role">
        <span>Choose your role</span>
        <div class="form-group">
          <label class="radio-wrapper">I'm student
            <input id="student" type="radio" value="student" name="radio">
            <span class="checkmark"></span>
          </label>
          <label class="radio-wrapper">I'm teacher
            <input id="teacher" type="radio" value="teacher" name="radio">
            <span class="checkmark"></span>
          </label>
        </div>
      </div> -->

      <div class="input-wrapper">
        <!--<div class="name">-->
        <!--<label for="name">Your Name</label>-->
        <!--<input id="name" type="text" placeholder="Enter Your Name" required>-->
        <!--</div>-->
        <div class="email">
          <label for="email">Your Email</label>
          <input id="id_login" type="email"  name="login" placeholder="Enter Your Email"  required="">
          
        </div>
        <div class="password">
          <div class="d-flex justify-content-between">
            <label for="password">Your Password</label>
            <div class="sign-in-link">
              <a href="#">Forgot?</a>
            </div>
          </div>
          <input  id="id_password" type="password" placeholder="Enter Your Password"  required=""  name="password">
          <span toggle="#password" class="toggle-password"><i class="fas fa-eye"></i></span>
        </div>
      </div>
      <div class="btn-wrapper">
        <button type="submit" class="">Sign In</button>
      </div>

      <div class="sign-in-link">
        <span>Don't have an account? <a href="{% url 'account_signup' %}">Sign Up</a></span>
      </div>
    </form>
  </div>
  
 
   <script src="{% static 'js/bundle.js' %}"></script>
  <script>

  </script>
</body>

</html>