{% extends 'new_base.html' %}

{% load static %}

{% block content %}





  <div class="container">
    <form class="teacher-verification-wrapper" method="POST">{% csrf_token %}
      <div class="header">
        <h1>inflection</h1>
        <span>Change Password</span>
      </div>

      <div class="input-wrapper">
        <!--<div class="name">-->
        <!--<label for="name">Your Name</label>-->
        <!--<input id="name" type="text" placeholder="Enter Your Name" required>-->
        <!--</div>-->
        <div class="name">
          <label for="id_oldpassword">Your Current Password</label>
         
         <input id="id_oldpassword" type="password" name="oldpassword"  placeholder="Enter Your Current Password" required="">

        </div>

        <div class="email">
          <div class="d-flex justify-content-between">
            <label for="id_password1">Your New Password</label>
          </div>

          <input id="id_password1" type="password" name="password1" placeholder="Enter Your New Password" required="">
        </div>

         <div class="password">
          <div class="d-flex justify-content-between">
            <label for="id_password2">Confirm Password</label>
          </div>

          <input id="id_password2" type="password" name="password2" placeholder="Confirm Password"  required="">
        </div>
        <!--<div class="confirm-password">-->
        <!--<div class="d-flex justify-content-between">-->
        <!--<label for="password">Confirm Password</label>-->
        <!--</div>-->
        <!--<input id="confirm-password" type="password" placeholder="Enter Your Password" required>-->
        <!--<span toggle="#confirm-password" class="toggle-confirm-password"><i class="fas fa-eye"></i></span>-->
        <!--</div>-->
      </div>
      <div class="errorTxt"></div>
      <div class="btn-wrapper">
        <button type="submit" class="">Verify Yourself</button>
      </div>
    </form>
  </div>


{% endblock %}