{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="{% static 'css/style.bundle.css' %}">
</head>

<body>
  <div class="container">
  	{{ form.errors }}
    <form class="sign-up-wrapper" method="POST"> {% csrf_token %}
      <div class="header">
        <h1>inflection</h1>
        <span>Create Your Account</span>
      </div>

      <div class="role">
        <span>Choose your role</span>
        <div class="form-group">
          <label for="id_teacher_student_0" class="radio-wrapper">I'm teacher
            <input  id="id_teacher_student_0" type="radio"  required="" value="Teacher" name="teacher_student"   >
            <input  >
            
            <span class="checkmark"></span>
          </label>
          <label  for="id_teacher_student_1" class="radio-wrapper">I'm student
            <input  id="id_teacher_student_1" type="radio" required="" value="Student" name="teacher_student" >
        
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div class="input-wrapper">
        <div class="name">
          <label for="name">Your Email</label>
          <input id="id_email" type="email" placeholder="Enter Your Email"  name="email" required>
          
        </div>
        <div class="password">
          <label for="password">Your Password</label>
  
          <input  id="id_password1" name="password1" type="password" placeholder="Enter Your Password" required>
          <span toggle="#password" class="toggle-password"><i class="fas fa-eye"></i></span>
        </div>
        <div class="password">
          <label for="password">Your Password Again</label>
         
          <input id="id_password2" name="password2" type="password" placeholder="Enter Your Password Again" required>
          <span toggle="#password" class="toggle-password"><i class="fas fa-eye"></i></span>
        </div>
      </div>
      <div class="btn-wrapper">
        <button type="submit" class="">Sign Up</button>
      </div>

      <div class="sign-in-link">
        <span>Already have an account? <a href="{% url 'account_login' %}">Sign In</a></span>
      </div>
    </form>
  </div>

  

   <script src="{% static 'js/bundle.js' %}"></script>
  <script>

  </script>
</body>

</html>


