{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/starter-template/starter-template.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">


      {% block content %}


      {% if messages %}
<ul class="messages">
    {% for message in messages %}

   {% if message.tags == "success" %} 
  <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> {{ message }}
  </div>
  {% elif message.tags == "info" %} 

  <div class="alert alert-info" role="alert">
     <strong>Heads up!</strong> {{ message }}
  </div>

  {% elif message.tags == "error" %} 

  <div class="alert alert-danger" role="alert">
     <strong>Heads up!</strong> {{ message }}
  </div>

  {% endif %}

    {% endfor %}
</ul>
{% endif %}


{% if request.user.is_authenticated %}


<h3>Welcome to Infelction AI! {{ request.user.username }}</h3>
<h4>Your <a href = "{% url 'account_profile' %}" >courses </a></h4>

{% else %}
  <h3>You need to log in to proceed.</h3>
  <a href = "{% url 'account_login' %}"><h3>Sign in here</h3></a>
{% endif %}
  

  <h3>Test File Upload</h3>
  
  <form id="testfileform" method="POST" enctype="multipart/form-data"> {% csrf_token %}
  {{ form.as_p }}


<button type="submit" class="btn btn-info float-right">Upload</button>

</form>



<div id="container" >
 
    <div id="mynetwork" style="width: 100%;height: 500px;"></div>


</div>
      {% endblock %}


<!--       <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div> -->

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>

   <!--  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>

        <script>

     $(document).ready(function(){

      var container = document.getElementById('mynetwork');
      var dsoptions = {

             edges:{
                  arrows: {

                    // to:{
                    //   type:"bar",
                    // },
                    to:     {enabled: true, scaleFactor:1, type:'arrow'},
                    middle: {enabled: false, scaleFactor:1, type:'arrow'},
                    from:   {enabled: false, scaleFactor:1, type:'arrow'}
                  },
              },
            manipulation: {
              enabled: false,
              addNode: function (data, callback) {
                  // filling in the popup DOM elements
                  console.log('add', data);
              },
              editNode: function (data, callback) {
                  // filling in the popup DOM elements
                  console.log('edit', data);
              },

              editEdge: function (data, callback) {
                  // filling in the popup DOM elements
                  console.log('edit', data);
                  callback(data)
              },
              addEdge: function (data, callback) {
                  console.log('An edge was added', data.from + " to " + data.to);
                  console.log("Data"+ data)
                  console.log("callback"+ callback)

                  if (data.from == data.to) {
                      var r = confirm("Do you want to connect the node to itself?");
                      if (r === true) {
                          callback(data);
                      }
                  }
                  else {
                      callback(data);
                  }
                  // after each adding you will be back to addEdge mode
                  network.addEdgeMode();
                  
              }
          }};
          
          
          var o_nodes = [
          {
              id: "Home",
              label: 'Home',
              shape:'image',
              image: "{% static 'img/House.png' %}",
              
          }, {
              id: 'Gym',
              label: 'Gym',
              shape: 'image',
              image: "{% static 'img/Gym.png' %}",
          }, {
              id: 'Hospital',
              label: 'Hospital',
              shape: 'image',
              image: "{% static 'img/Hospital.png' %}",
          }, {
              id: 'Library',
              label: 'Library',
              shape: 'image',
              image: "{% static 'img/Library.png' %}",
          }, {
              id: 'Movies',
              label: 'Movies',
              shape: 'image',
              image: "{% static 'img/Movies.png' %}",
          },{
              id: 'Park',
              label: 'Park',
              shape: 'image',
              image: "{% static 'img/Park.png' %}",
          },{
              id: 'Store',
              label: 'Store',
              shape: 'image',
              image: "{% static 'img/Store.png' %}",
          },{
              id: 'Taco Stand',
              label: 'Taco Stand',
              shape: 'image',
              image: "{% static 'img/Taco Stand.png' %}",
          }
          ];
          
          var nodes = new vis.DataSet(o_nodes);
          
          // create an array with edges
          // var edges = [{
          //     from: 1,
          //     to: 2,
          //     color:'red',
          // }, {
          //     from: 1,
          //     to: 3
          // }, {
          //     from: 2,
          //     to: 4
          // }, {
          //     from: 2,
          //     to: 5
          // }];

          // Create a DataSet with data (enables two way data binding)
          var data = {
              nodes: nodes,
              // edges: edges
          };
          var options = {
            width: '100%',

              edges:{
                  arrows: {

                    to:{
                      type:"bar",
                    },
                    // to:     {enabled: true, scaleFactor:10, type:'bar'},
                    // middle: {enabled: true, scaleFactor:1, type:'bar'},
                    // from:   {enabled: true, scaleFactor:1, type:'bar'}
                  },
              },





          };
          var network = new vis.Network(container, data, dsoptions);
          
          // here you init the addEdge mode
           network.addEdgeMode();
        
        {% block jquery %}

   

        {% endblock %}
    });
      
    </script>

  </body>
</html>
