{% extends 'base.html' %}


{% block content %}


<h3>Welcome to {{ course.name }}</h3>


<h4>Course Content To Be Displayed Here</h4>

{% if questions %}
<h4>Sample Questions of this course can be found at the following <a href ="{% url 'single_question' id=questions.id %}">link</a></h4>

{% else %}


<h4>You have already answered all questions in this course Excercise 1</h4>
{% endif %}


{% endblock %}