{% extends 'base.html' %}


{% block content %}


<h3>Welcome to {{ course.name }}</h3>

<h4>Note: Hand over the following details to your students to let them register to your course. Do not share the details with anyone else other than your students</h4>

<p>Email: {{ instance.teacher.user.email }} </p>
<p>Course ID: {{ instance.course_uuid }}</p>




<h3>This course contains the following topics:</h3>

<ul>
	{% for topic in course.topic_set.all %}

	<li>{{ topic.name }}</li>
	{% endfor %}
</ul>


{% endblock %}