{% extends 'new_base.html' %}

{% load static %}
{% load custom_tags %}




{% block navbar_items %}

          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'teacher_student_modules' %}">
                <img src="{% static 'img/icons/list.svg' %}" alt="icon">
                Modules list
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'vocabulary' %}">
                <img src="{% static 'img/icons/vocabulary.svg' %}" alt="icon">
                Vocabulary
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'dashboard' %}">
                <img src="{% static 'img/icons/dashboard.svg' %}" alt="icon">
                Dashboard
              </a>
            </li>
            {% if request.user.teacher_student == "Teacher" %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'products_list' %}">
                <img src="{% static 'img/icons/people.svg' %}" alt="icon">
                Students
              </a>
            </li>
            {% endif %}
            <li class="nav-item">
              <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="{% static 'img/icons/person.svg' %}" alt="icon">
                  My profile
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="profile-info">
                    <div class="name">
                      <span>
                        {% if request.user.first_name and request.user.last_name %}

                        {{ request.user.first_name }} {{ request.user.last_name }}

                        {% else %}

                        You have not entered your details

                        {% endif %}


                      </span>
                      <a href="{% url 'account_profile' %}"  >
                        <img src="{% static 'img/icons/pen.svg' %}" alt="icon">
                      </a>
                    </div>
                    <div class="email">
                      <img src="{% static 'img/icons/envelope.svg' %}" alt="icon">
                      {{request.user.email}}
                    </div>
                    <div class="position">
                      <img src="{% static 'img/icons/magister.svg' %}" alt="icon">
                      {{request.user.teacherprofile_set.all.0.school.name }}
                    </div>
                  </div>
                  <a class="dropdown-links change-password" href="{% url 'account_change_password' %}">
                    <img src="{% static 'img/icons/lock.svg' %}" alt="icon">
                    Change password
                  </a>
                  <a class="dropdown-links logout" href="{% url 'account_logout' %}">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                  </a>
                </div>
              </div>
            </li>
          </ul>

{% endblock %}



{% block content %}

      <div class="row">

          <div class="sidebar">
             <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
            <div class="sidebar-title-wrapper d-flex justify-content-between">
              <div class="sidebar-separator-title sidebar-title d-flex align-items-center menu-collapsed">
                <small>Your Modules</small>
              </div>
              <a href="#" data-toggle="sidebar-colapse" class="d-flex align-items-center">
                <div class="icon-collapse-wrapper d-flex w-100 justify-content-start align-items-center">
                  <img src="{% static 'img/icons/menu.svg' %}" alt="icon">
                </div>
              </a>
            </div>


            <ul class="nav nav-list">
              {% if request.user.teacher_student == "Teacher" %}
              {% for teacher_course in teacher_profile.course.all %}
              <li>
                <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu-{{teacher_course.slug}}">
                  <div class="main-menu-item menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                    <i id="collapse-folder-icon-main" class="fas fa-folder active"></i>
                    <span class="menu-collapsed menu-item-title">{{teacher_course.name}}</span>
                  </div>
                  <div class="line"></div>
                </a>

                <ul class="nav nav-list collapse submenu submenu-{{teacher_course.slug}}" id="submenu-{{teacher_course.slug}}">
                  <li>
                    {% for topic in teacher_course.topic_set.all %}
                    {% with forloop.counter as second_counter %}
                    <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu{{topic.slug}}">
                      <div class="sub-menu-item menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                        <i id="collapse-folder-icon-sub" class="fas fa-folder"></i>
                        <span class="menu-collapsed menu-item-title">{{ topic.name }}</span>
                      </div>
                      <div class="line"></div>

                      {% for lesson in topic.lesson_set.all %}
                      <ul class="nav nav-list collapse submenu{{topic.slug}}" id="submenu{{topic.slug}}">
                        <li>
                         <a href="{{topic.get_dashboard_slug_url }}" class="">
                            <div class="menu-item-wrapper current d-flex w-100 justify-content-start align-items-center">
                              <img src="{% static 'img/icons/dot.svg' %}" alt="icon">
                              <span class="menu-collapsed menu-item-title">{{lesson.name}}</span>
                            </div>
                            <div class="line"></div>
                          </a>
                        </li>
                      </ul>
                      {% endfor %}
                    </a>
                    {% endwith %}
                    {% endfor %}
                  </li>
                </ul>


              </li>
              {% endfor %}

              {% elif request.user.teacher_student == "Student" %}
            {% for student_course in student_profile.course.all %}
              <li>
                <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu{{student_course.slug}}">
                  <div class="main-menu-item menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                    <i id="collapse-folder-icon-main" class="fas fa-folder active"></i>
                    <span class="menu-collapsed menu-item-title">{{student_course.name}}</span>
                  </div>
                  <div class="line"></div>
                </a>

                <ul class="nav nav-list collapse submenu submenu{{student_course.slug}}" id="submenu{{student_course.slug}}">
                  <li>
                    {% for topic in student_course.topic_set.all %}
                    {% with forloop.counter as second_counter %}
                    <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu{{topic.slug}}">
                      <div class="sub-menu-item menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                        <i id="collapse-folder-icon-sub" class="fas fa-folder"></i>
                        <span class="menu-collapsed menu-item-title">{{ topic.name }}</span>
                      </div>
                      <div class="line"></div>

                      {% for lesson in topic.lesson_set.all %}
                      <ul class="nav nav-list collapse submenu{{topic.slug}}" id="submenu{{topic.slug}}">
                        <li>
                           <a href="{{topic.get_dashboard_slug_url }}" class="">
                            <div class="menu-item-wrapper current d-flex w-100 justify-content-start align-items-center">
                              <img src="{% static 'img/icons/dot.svg' %}" alt="icon">
                              <span class="menu-collapsed menu-item-title">{{lesson.name}}</span>
                            </div>
                            <div class="line"></div>
                          </a>
                        </li>
                      </ul>
                      {% endfor %}
                    </a>
                    {% endwith %}
                    {% endfor %}
                  </li>
                </ul>


              </li>
              {% endfor %}
               {% endif %}
           <!--    <li>
                <a href="#" class="">
                  <div class="menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                    <i class="fas fa-folder"></i>
                    <span class="menu-collapsed menu-item-title">System analysis</span>
                  </div>
                  <div class="line"></div>
                </a>
              </li> -->
            </ul>
            <ul class="list-group">

              <!--<a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">-->
              <!--<div class="d-flex w-100 justify-content-start align-items-center">-->
              <!--<i class="fas fa-folder"></i>-->
              <!--<span class="menu-collapsed">Data fundamentals</span>-->
              <!--</div>-->
              <!--</a>-->

              <!-- Submenu content -->
              <!--<div id='submenu1' class="collapse sidebar-submenu">-->
              <!--<a href="#" class="list-group-item list-group-item-action bg-dark text-white">-->
              <!--<span class="menu-collapsed">Charts</span>-->
              <!--</a>-->
              <!--<a href="#" class="list-group-item list-group-item-action bg-dark text-white">-->
              <!--<span class="menu-collapsed">Reports</span>-->
              <!--</a>-->
              <!--<a href="#" class="list-group-item list-group-item-action bg-dark text-white">-->
              <!--<span class="menu-collapsed">Tables</span>-->
              <!--</a>-->
              <!--</div>-->
            </ul><!-- List Group END-->
          </div><!-- sidebar-container END -->
        </div>

       <!----------------- TEACHER SECTION STARTS HERE --------------------------->


        {% if request.user.teacher_student == "Teacher" %}

        <div class="content teacher-dashboard">
          <div class="content-title">
            <h1>Modules</h1>
            <div class="d-flex justify-content-center align-items-center">
              <div class="people-icon">
                <i class="fas fa-user-friends"></i>
              </div>
              <div class="btn-group">
                <button type="button" class="btn dropdown-toggle dropdown-toggle-students" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                  All students
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-students">
                  <div class="wrapper">
                    

                    <a class="dropdown-links" >
                        
                      {% if student_dict.vars %}
                      All students
                      
                      {% else %}

                      No Students Yet
                      {% endif %}
                    </a>

                    {% for key,val in student_dict.items %}
                   <a class="dropdown-links " href="/statistics/{{key}}">
                      {{ val }}
                    </a>

                    {% endfor %}


                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="data-list">

          	{% for teacher_course in teacher_profile.course.all %}
            <div class="data-element">
              <div class="secondary-progress-bar">
                <div class="title">
                  <span class="name">{{ teacher_course.name }}</span>
                  <!-- <span class="score">Average score: 98</span> -->
                </div>

                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: calc(({{ mod_completion_list|get_index:forloop.counter0 }}/{{teacher_profile.studentprofile_set.all.count}}) * 100%)" aria-valuenow="11" aria-valuemin="0" aria-valuemax="15"></div>
                </div>
              </div>
              <div class="body">
                <div class="left-part">
                  <div class="topics">
                    <img src="{% static 'img/icons/check.svg' %} " alt="icon">
                    {{ mod_completion_list|get_index:forloop.counter0 }}/{{teacher_profile.studentprofile_set.all.count}} students completed
                  </div>
                </div>

                <div class="right-part">
                  <div class="links">
<!--                     <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu{{forloop.counter0}}">
                      View details
                      <img src="{% static 'img/icons/arrow.svg' %}" alt="icon">
                    </a> -->
                    <div class="line"></div>
                    <a href="{{ teacher_course.get_dashboard_topic_url }}" class="last-link">
                      View topic list
                      <img src="{% static 'img/icons/chevron_right_content.svg' %}" alt="icon">
                    </a>
                  </div>


                </div>
              </div>

            </div>
            <ul class="nav nav-list collapse submenu" id="submenu{{forloop.counter0}}">
              <div class="d-flex flex-column w-100">
                <li>
                  <div class="secondary-progress-bar">
                    <div class="title">
                      <span class="name">Maria Green</span>
                      
                    </div>

                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: calc((7 / 15) * 100%)" aria-valuenow="11" aria-valuemin="0" aria-valuemax="15"></div>
                    </div>
                  </div>
                </li>

              </div>

            </ul>
            {% endfor %}

          </div>
       </div>

			<!----------------- TEACHER SECTION ENDS HERE --------------------------->


			<!----------------- STUDENT SECTION STARTS HERE --------------------------->


			{% elif request.user.teacher_student == "Student" %}

	<div class="content teacher-dashboard student-dashboard">
          <div class="content-title">
            <h1>Modules</h1>
          </div>

          <div class="data-list">
          	{% for student_course in student_profile.course.all %}
            <div class="data-element">
              <div class="secondary-progress-bar">
                <div class="title">
                  <span class="name">{{ student_course.name }}</span>
                  <span class="score">Score: 51</span>
                </div>

                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: calc((11 / 15) * 100%)" aria-valuenow="11" aria-valuemin="0" aria-valuemax="15"></div>
                </div>
              </div>
              <div class="body">
                <div class="left-part">

                </div>

                <div class="right-part">
                  <div class="links">
                    <a href="{{ student_course.get_dashboard_topic_url }}" class="last-link">
                      View topics list
                      <img src="{% static 'img/icons/chevron_right_content.svg' %}" alt="icon">
                    </a>
                  </div>


                </div>
              </div>

            </div>
            {% endfor %}




          </div>
        </div>


	{% endif %}
			<!----------------- STUDENT SECTION ENDS HERE --------------------------->


      </div>






{% endblock %}