{% extends 'new_base.html' %}

{% load static %}
{% load custom_tags %}
{% block content %}

      <div class="row">
          <div class="sidebar">
             <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
            <div class="sidebar-title-wrapper d-flex justify-content-between">
              <div class="sidebar-separator-title sidebar-title d-flex align-items-center menu-collapsed">
                <small>Your Modules</small>
              </div>
              <a href="#" data-toggle="sidebar-colapse" class="d-flex align-items-center">
                <div class="icon-collapse-wrapper d-flex w-100 justify-content-start align-items-center">
                  <img src="{% static 'img/icons/menu.svg' %}" alt="icon">
                </div>
              </a>
            </div>


            <ul class="nav nav-list">
              {% if request.user.teacher_student == "Teacher" %}
              {% for teacher_course in teacher_profile.course.all %}
              <li>
                <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu-{{teacher_course.slug}}">
                  <div class="main-menu-item menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                    <i id="collapse-folder-icon-main" class="fas fa-folder active"></i>
                    <span class="menu-collapsed menu-item-title">{{teacher_course.name}}</span>
                  </div>
                  <div class="line"></div>
                </a>

                <ul class="nav nav-list collapse submenu submenu-{{teacher_course.slug}}" id="submenu-{{teacher_course.slug}}">
                  <li>
                    {% for topic in teacher_course.topic_set.all %}
                    {% with forloop.counter as second_counter %}
                    <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu{{topic.slug}}">
                      <div class="sub-menu-item menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                        <i id="collapse-folder-icon-sub" class="fas fa-folder"></i>
                        <span class="menu-collapsed menu-item-title">{{ topic.name }}</span>
                      </div>
                      <div class="line"></div>

                      {% for lesson in topic.lesson_set.all %}
                      <ul class="nav nav-list collapse submenu{{topic.slug}}" id="submenu{{topic.slug}}">
                        <li>
                          <a href="{{ lesson.lessoncontent_set.all.0.get_absolute_url }}" class="">
                            <div class="menu-item-wrapper current d-flex w-100 justify-content-start align-items-center">
                              <img src="{% static 'img/icons/dot.svg' %}" alt="icon">
                              <span class="menu-collapsed menu-item-title">{{lesson.name}}</span>
                            </div>
                            <div class="line"></div>
                          </a>
                        </li>
                      </ul>
                      {% endfor %}
                    </a>
                    {% endwith %}
                    {% endfor %}
                  </li>
                </ul>


              </li>
              {% endfor %}

              {% elif request.user.teacher_student == "Student" %}
            {% for student_course in student_profile.course.all %}
              <li>
                <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu{{student_course.slug}}">
                  <div class="main-menu-item menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                    <i id="collapse-folder-icon-main" class="fas fa-folder active"></i>
                    <span class="menu-collapsed menu-item-title">{{student_course.name}}</span>
                  </div>
                  <div class="line"></div>
                </a>

                <ul class="nav nav-list collapse submenu submenu{{student_course.slug}}" id="submenu{{student_course.slug}}">
                  <li>
                    {% for topic in student_course.topic_set.all %}
                    {% with forloop.counter as second_counter %}
                    <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu{{topic.slug}}">
                      <div class="sub-menu-item menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                        <i id="collapse-folder-icon-sub" class="fas fa-folder"></i>
                        <span class="menu-collapsed menu-item-title">{{ topic.name }}</span>
                      </div>
                      <div class="line"></div>

                      {% for lesson in topic.lesson_set.all %}
                      <ul class="nav nav-list collapse submenu{{topic.slug}}" id="submenu{{topic.slug}}">
                        <li>
                           <a href="{{ lesson.lessoncontent_set.all.0.get_absolute_url }}" class="">
                            <div class="menu-item-wrapper current d-flex w-100 justify-content-start align-items-center">
                              <img src="{% static 'img/icons/dot.svg' %}" alt="icon">
                              <span class="menu-collapsed menu-item-title">{{lesson.name}}</span>
                            </div>
                            <div class="line"></div>
                          </a>
                        </li>
                      </ul>
                      {% endfor %}
                    </a>
                    {% endwith %}
                    {% endfor %}
                  </li>
                </ul>


              </li>
              {% endfor %}
               {% endif %}
           <!--    <li>
                <a href="#" class="">
                  <div class="menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                    <i class="fas fa-folder"></i>
                    <span class="menu-collapsed menu-item-title">System analysis</span>
                  </div>
                  <div class="line"></div>
                </a>
              </li> -->
            </ul>
            <ul class="list-group">

              <!--<a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">-->
              <!--<div class="d-flex w-100 justify-content-start align-items-center">-->
              <!--<i class="fas fa-folder"></i>-->
              <!--<span class="menu-collapsed">Data fundamentals</span>-->
              <!--</div>-->
              <!--</a>-->

              <!-- Submenu content -->
              <!--<div id='submenu1' class="collapse sidebar-submenu">-->
              <!--<a href="#" class="list-group-item list-group-item-action bg-dark text-white">-->
              <!--<span class="menu-collapsed">Charts</span>-->
              <!--</a>-->
              <!--<a href="#" class="list-group-item list-group-item-action bg-dark text-white">-->
              <!--<span class="menu-collapsed">Reports</span>-->
              <!--</a>-->
              <!--<a href="#" class="list-group-item list-group-item-action bg-dark text-white">-->
              <!--<span class="menu-collapsed">Tables</span>-->
              <!--</a>-->
              <!--</div>-->
            </ul><!-- List Group END-->
          </div><!-- sidebar-container END -->
        </div>

  <!--- -----------    TEACHER SECTION STARTS HERE ----------->
        {% if request.user.teacher_student == "Teacher" %}

        <div class="content">
          <div class="content-title">
            <h1>{{course.name}}</h1>
            <a href="#" class="title-search">
              <i class="fas fa-search"></i>
            </a>
          </div>

          <div class="data-list">

          	{% for topic in course.topic_set.all %}
            <div class="data-element">
              <div class="title">
                <h3 class="name">{{ topic.name }}</h3>
                <div class="calendar">

                  <i class="far fa-calendar-alt date-picker-open"></i>

                  <input class="datepicker" placeholder="Assign due date">
                  <span></span>
                </div>
              </div>
              <div class="body">
                <div class="left-part">
                  <div class="topics">
                    <img src="{% static 'img/icons/list_second_v.svg' %}" alt="icon">
                    {{ topic.lesson_set.all.count }} lessons
                  </div>
                  <div class="progress-class">
                    <img src="{% static 'img/icons/check.svg' %}" alt="icon">

                    {{ student_topic_completion_list|get_index:forloop.counter0}}/ {{ teacher_profile.studentprofile_set.all.count }} students completed
                  </div>
                </div>

                <div class="right-part">
                  <div class="links">
                    <a href="{{ topic.get_slug_url }}" class="last-link">
                      View lessons list
                      <img src="{% static 'img/icons/chevron_right_content.svg' %}" alt="icon">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>

        <!--------------------  TEACHER SECTION ENDS HERE   ---------- >


        <!--------------------- STUDENT SECTION STARTS HERE ----------->

              {% elif request.user.teacher_student == "Student" %}

       <div class="content student-topic student-topic-completed">
          <div class="content-title">
            <h1>{{course.name }}</h1>
            <a href="#" class="title-search">
              <i class="fas fa-search"></i>
            </a>
          </div>
<!--           <div class="content-title content-sub-title d-flex justify-content-between align-items-center">
            <h4>Assessment required</h4>
            <a href="#" class="link">
              Complete assessment
              <img src="{% static 'img/icons/chevron_right_content.svg' %}" alt="icon">
            </a>
          </div> -->

          <div class="data-list ">
            {% for topic in course.topic_set.all %}
            <div class="data-element">
              <div class="secondary-progress-bar">
                <div class="title">
                  <span class="name">{{ topic.name }}</span>
                  

                  <span class="score">Due date: July 10, 2019</span>
                </div>

                <div class="progress">



                  <div class="progress-bar" role="progressbar" 
                  style="width: calc(({{ request.user.studentprofile_set.all.0.userlessoncompletionstatus_set.all.count}} /  {{ topic.lesson_set.all.count}}) * 100%)" aria-valuenow="11" aria-valuemin="0" aria-valuemax="15"></div>
                </div>
              </div>
              <div class="body">
                <div class="left-part">
                  <div class="topics">
                    <img src="{% static 'img/icons/list_second_v.svg' %}" alt="icon">
                    {{ topic.lesson_set.all.count }} lessons
                  </div>
                </div>

                <div class="right-part">
                  <div class="links">
                    <a href="{{ topic.get_slug_url }}" class="last-link">
                      View lessons list
                      <img src="{% static 'img/icons/chevron_right_content.svg' %}" alt="icon">
                    </a>
                  </div>


                </div>
              </div>

            </div>
            {% endfor %}

          </div>
        </div>
              {% endif %}
    <!--- ----------------- STUDENT SECTION ENDS HERE  ---------- >









      </div>


{% endblock %}