{% extends 'new_base.html' %}

{% load static %}



<script>
  
  {% block jquery %}


  console.log("Hello world")

  $(document).on("click",".form-submit-button",function(e) {
    console.log("Button clicked")
    var this_ = $(this);
    
    var userWord = $('#id_word').val()
    var modelName = "{{ current_instance.model_name }}"

    var urlToCall  = ""

    if (modelName !== "" && modelName !== "None" && modelName === "NER TYPE"){
      urlToCall = "/ajax/get-ner-type/"
    }else if (modelName !== "" && modelName !== "None" && modelName === "POS TYPE"){
      urlToCall = "/ajax/get-pos-type/"
    }else if (modelName !== "" && modelName !== "None" && modelName === "Sim To Words"){
      urlToCall = "/ajax/get-sim-to-words/"
    }else if (modelName !== "" && modelName !== "None" && modelName === "Similar Words"){
      urlToCall = "/ajax/get-similar-words/"
    }




     

    
    console.log("Model From  backend is "+ modelName + "and user word is", userWord)
   

      $.ajax({
       url: urlToCall,
        data:{
        'userWord': userWord,
       },
        dataType: 'json',
        success: function(data){
          
          var objToLoop = data.Success
          
         console.log(data);
         console.log("Success data"+objToLoop)
         $('#model_data_table').empty()
         $('#model_data_table').append('<tr><th>Word</th><th>Type</th></tr>')
        for(var key in objToLoop) {
                   console.log("Key is"+ key + " and val is" + objToLoop[key])

                    $('#model_data_table').append('<tr><td>'+key+'</td><td>'+objToLoop[key]+'</td></tr>')




      } 

        
          
        }, error: function(error){
         console.log(error);
    
         console.log("error");
       }
      });


});
  
   {% endblock %}

</script>

{% block content %}

     <div class="row">

          <div class="sidebar">
             <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
            <div class="sidebar-title-wrapper d-flex justify-content-between">
              <div class="sidebar-separator-title sidebar-title d-flex align-items-center menu-collapsed">
                <small>Your Modules</small>
              </div>
              <a href="#" data-toggle="sidebar-colapse" class="d-flex align-items-center">
                <div class="icon-collapse-wrapper d-flex w-100 justify-content-start align-items-center">
                  <img src="{% static 'img/icons/menu.svg' %}" alt="icon">
                </div>
              </a>
            </div>


            <ul class="nav nav-list">
              {% if request.user.teacher_student == "Teacher" %}
              {% for teacher_course in teacher_profile.course.all %}
              <li>
                <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu-{{teacher_course.slug}}">
                  <div class="main-menu-item menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                    <i id="collapse-folder-icon-main" class="fas fa-folder active"></i>
                    <span class="menu-collapsed menu-item-title">{{teacher_course.name}}</span>
                  </div>
                  <div class="line"></div>
                </a>

                <ul class="nav nav-list collapse submenu submenu-{{teacher_course.slug}}" id="submenu-{{teacher_course.slug}}">
                  <li>
                    {% for topic in teacher_course.topic_set.all %}
                    {% with forloop.counter as second_counter %}
                    <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu{{topic.slug}}">
                      <div class="sub-menu-item menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                        <i id="collapse-folder-icon-sub" class="fas fa-folder"></i>
                        <span class="menu-collapsed menu-item-title">{{ topic.name }}</span>
                      </div>
                      <div class="line"></div>

                      {% for lesson in topic.lesson_set.all %}
                      <ul class="nav nav-list collapse submenu{{topic.slug}}" id="submenu{{topic.slug}}">
                        <li>
                          <a href="{{ lesson.lessoncontent_set.all.0.get_absolute_url }}" class="">
                            <div class="menu-item-wrapper current d-flex w-100 justify-content-start align-items-center">
                              <img src="{% static 'img/icons/dot.svg' %}" alt="icon">
                              <span class="menu-collapsed menu-item-title">{{lesson.name}}</span>
                            </div>
                            <div class="line"></div>
                          </a>
                        </li>
                      </ul>
                      {% endfor %}
                    </a>
                    {% endwith %}
                    {% endfor %}
                  </li>
                </ul>


              </li>
              {% endfor %}

              {% elif request.user.teacher_student == "Student" %}
            {% for student_course in student_profile.course.all %}
              <li>
                <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu{{student_course.slug}}">
                  <div class="main-menu-item menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                    <i id="collapse-folder-icon-main" class="fas fa-folder active"></i>
                    <span class="menu-collapsed menu-item-title">{{student_course.name}}</span>
                  </div>
                  <div class="line"></div>
                </a>

                <ul class="nav nav-list collapse submenu submenu{{student_course.slug}}" id="submenu{{student_course.slug}}">
                  <li>
                    {% for topic in student_course.topic_set.all %}
                    {% with forloop.counter as second_counter %}
                    <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu{{topic.slug}}">
                      <div class="sub-menu-item menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                        <i id="collapse-folder-icon-sub" class="fas fa-folder"></i>
                        <span class="menu-collapsed menu-item-title">{{ topic.name }}</span>
                      </div>
                      <div class="line"></div>

                      {% for lesson in topic.lesson_set.all %}
                      <ul class="nav nav-list collapse submenu{{topic.slug}}" id="submenu{{topic.slug}}">
                        <li>
                           <a href="{{ lesson.lessoncontent_set.all.0.get_absolute_url }}" class="">
                            <div class="menu-item-wrapper current d-flex w-100 justify-content-start align-items-center">
                              <img src="{% static 'img/icons/dot.svg' %}" alt="icon">
                              <span class="menu-collapsed menu-item-title">{{lesson.name}}</span>
                            </div>
                            <div class="line"></div>
                          </a>
                        </li>
                      </ul>
                      {% endfor %}
                    </a>
                    {% endwith %}
                    {% endfor %}
                  </li>
                </ul>


              </li>
              {% endfor %}
               {% endif %}
           <!--    <li>
                <a href="#" class="">
                  <div class="menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                    <i class="fas fa-folder"></i>
                    <span class="menu-collapsed menu-item-title">System analysis</span>
                  </div>
                  <div class="line"></div>
                </a>
              </li> -->
            </ul>
            <ul class="list-group">

              <!--<a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">-->
              <!--<div class="d-flex w-100 justify-content-start align-items-center">-->
              <!--<i class="fas fa-folder"></i>-->
              <!--<span class="menu-collapsed">Data fundamentals</span>-->
              <!--</div>-->
              <!--</a>-->

              <!-- Submenu content -->
              <!--<div id='submenu1' class="collapse sidebar-submenu">-->
              <!--<a href="#" class="list-group-item list-group-item-action bg-dark text-white">-->
              <!--<span class="menu-collapsed">Charts</span>-->
              <!--</a>-->
              <!--<a href="#" class="list-group-item list-group-item-action bg-dark text-white">-->
              <!--<span class="menu-collapsed">Reports</span>-->
              <!--</a>-->
              <!--<a href="#" class="list-group-item list-group-item-action bg-dark text-white">-->
              <!--<span class="menu-collapsed">Tables</span>-->
              <!--</a>-->
              <!--</div>-->
            </ul><!-- List Group END-->
          </div><!-- sidebar-container END -->
        </div>








        	

        <div class="content">
          <div class="content-title">
            <h1>{{ current_instance.name }}</h1>
          </div>
          <div class="data-list">
            <div class="course-content">
            	{{ current_instance.content|safe}}


              {% if current_instance.teacher_content and request.user.teacher_student == "Teacher"%}
              <div class="first-line-content">

                
              </div>
              {{ current_instance.teacher_content|safe}}
              <div class="second-line-content">

               
              </div>
              {% endif %}
            </div>

            {% if current_instance.model_name ==  'Similar Words' %}

            <label for="id_model_name">Enter the model name to be used:</label>
            <input type="text" name="model_name" required="" id="id_model_name">

            <label for="id_word">Enter a word:</label>
            <input type="text" name="word" required="" id="id_word">

        <div class="row">
                    <div class="col-lg-12">
                  <button  class="btn btn-primary float-left form-submit-button " type="submit" value="Submit" id="submit">
                  
                  </div> 
                  </div> 


               <table style="width:100%" id="model_data_table">
                   
                </table>
            {% endif %}


          {% if current_instance.model_name == "NER TYPE" %}

            <label for="id_model_name">Enter the model name to be used:</label>
            <input type="text" name="model_name" required="" id="id_model_name">

            <label for="id_word">Enter a word:</label>
            <input type="text" name="word" required="" id="id_word">

        <div class="row">
                    <div class="col-lg-12">
                  <button  class="btn btn-primary float-left form-submit-button " type="submit" value="Submit" id="submit">
                  
                  </div> 
                  </div> 


            <table style="width:100%" id="model_data_table">
                   
                </table>

            {% endif %}



            {% if current_instance.model_name == "POS TYPE" %}

            <label for="id_model_name">Enter the model name to be used:</label>
            <input type="text" name="model_name" required="" id="id_model_name">

            <label for="id_word">Enter a word:</label>
            <input type="text" name="word" required="" id="id_word">

        <div class="row">
                    <div class="col-lg-12">
                  <button  class="btn btn-primary float-left form-submit-button " type="submit" value="Submit" id="submit">
                  
                  </div> 
                  </div> 


            <table style="width:100%" id="model_data_table">
                   
                </table>

            {% endif %}



            {% if current_instance.model_name == "Sim To Words" %}

            <label for="id_model_name">Enter the model name to be used:</label>
            <input type="text" name="model_name" required="" id="id_model_name">

            <label for="id_word">Enter a word:</label>
            <input type="text" name="word" required="" id="id_word">

        <div class="row">
                    <div class="col-lg-12">
                  <button  class="btn btn-primary float-left form-submit-button " type="submit" value="Submit" id="submit">
                  
                  </div> 
                  </div> 


            <table style="width:100%" id="model_data_table">
                   
                </table>

            {% endif %}


            

            {% if current_instance.question and  request.user.teacher_student == "Teacher" %}
            <div class="questions-content">
              <div class="title">
                <h3>Question {{ current_question_count }}  of {{ total_question_count }}</h3>
                <a href="/responses.html"><img class="graph" src="{% static 'img/icons/graph.svg' %}" alt="icon">Class responses<img class="chevron" src="{% static 'img/icons/chevron_right_content.svg' %}" alt="icon"></a>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: calc(({{ current_question_count }} / {{ total_question_count }}) * 100%)" aria-valuenow="1" aria-valuemin="0" aria-valuemax="15"></div>
              </div>

              <div class="question">
                <h4 class="title">
                  {{ current_instance.question.text }}
                </h4>

                <ul class="answers">

                {% for answer in current_instance.question.answer_set.all %}
                  <li {% if answer.text == current_uncompleted_instance.question.correct_answer %} class="right" 
                  {% else %} class="wrong" {% endif %}>
                    <div class="result-icons">
                      <img class="right-icon" src="{% static 'img/icons/right.svg' %}" alt="icon">
                      <img class="wrong-icon" src="{% static 'img/icons/wrong.svg' %}" alt="icon">
                    </div>
                    <div class="single-answer">
                      <!-- <span class="name">Maria Green</span> -->
                      <p class="text">{{ answer.text }}</p>
                    </div>
                  </li>
                  {% endfor %}

                </ul>
              </div>

            </div>



          {% elif current_instance.question and request.user.teacher_student == "Student" %}


  <!--                 <div class="content">
          <div class="content-title">
            <h1>What is data?</h1>
          </div>

          <div class="data-list"> -->
            <div class="questions-content">
              <form action="" method="POST"> {% csrf_token %}
                <div class="title">
                  <h3>Question {{ current_question_count }}  of {{ total_question_count }}</h3>
                </div>
                <div class="progress">
                     <div class="progress-bar" role="progressbar" style="width: calc(({{ current_question_count }} / {{ total_question_count }}) * 100%)" aria-valuenow="1" aria-valuemin="0" aria-valuemax="15"></div>
                </div>

                <div class="question">
                  <h4 class="title">
                    {{ current_instance.question.text }}
                  </h4>


				{% if current_instance.question.question_type == 'multiple_choice' %}

					

					
	
			 <input type='hidden' name='question_id' value='{{ current_instance.question.id }}' />

       {% if user_answer_instance.answer_given %}

             <ul class="answers">
                   
                    <div class="custom-control custom-checkbox">
                      <input type="radio" checked class="custom-control-input" id='{{ user_answer_instance.my_answer.id }}' name='answer_id' value='{{ user_answer_instance.my_answer.id }}'>
                      <label class="custom-control-label" for='{{ ans.id }}'>
                        {{ user_answer_instance.my_answer.text }} 
                      </label>
                    </div>
                  </ul>


                <div class="success-message">
                    <img src="{% static 'img/icons/check_green.svg' %}" alt="icon"> <span>You have already answered.</span>
                    
                  </div>

       {% else %} 
                  <ul class="answers">
                  	{% for ans in current_instance.question.answer_set.all %}
                    <div class="custom-control custom-checkbox">

                      <input type="radio" class="custom-control-input" id='{{ ans.id }}' name='answer_id' value='{{ ans.id }}'>
            
                      <label class="custom-control-label" for='{{ ans.id }}'>
                        {{ ans.text }} 
                      </label>
                    </div>
                    {% endfor %}
                  </ul>

                {% endif %}

                </div>

                <div class="next-btn submit">
                  <!--                                <div class="success-message">-->
                  <!--                                    <img src="img/icons/check_green.svg" alt="icon">-->
                  <!--                                    <span>Great! That is correct answer!</span>-->
                  <!--          
                                        </div>-->

                  {% if messages %}
                  {% for message in messages %}
                    {% if message.tags == "success" %} 

                    <div class="success-message">
                    <img src="{% static 'img/icons/check_green.svg' %}" alt="icon"> <span>Great! {{message}}.</span>
                    
                  </div>
                    {% elif message.tags == "error" %}


                  <div class="error-message">
                    <img src="{% static 'img/icons/cross_red.svg' %}" alt="icon"><span>Oops! That is incorrect answer.</span>
                     </div>
                      {% endif %}
                  
						 
						        {% endfor %}
					
						    {% endif %}

				
                    
                 {% if not user_answer_instance.answer_given %}

                <button class="primary-button" type="submit" value ="questionSubmitButton" name="questionSubmitButton">Submit Answer<img src="{% static 'img/icons/right_chevron_white.png' %}" alt="icon"></button>
                {% endif %}
                 

                {% elif current_instance.question.question_type == 'text_input' %}



                <input type='hidden' name='question_id' value='{{ current_instance.question.id }}' />
                

                {% if user_text_answer.answer_given %} 

                
                <textarea disabled="" class="answers textarea"  id="id_my_answer" name="my_answer" required="" placeholder="Enter your answer">{{ user_text_answer.my_answer.text }}</textarea>

                {% else %}
                 <textarea class="answers textarea" id="id_my_answer" name="my_answer" required="" placeholder="Enter your answer"></textarea>
                {% endif %}

                  <!-- <input type="hidden" name="sortable_answer" class="sortable-answer"> -->
                </div>

                <div class="next-btn submit">
                        {% if messages %}
                  {% for message in messages %}
                    {% if message.tags == "success" %} 

                    <div class="success-message">
                    <img src="{% static 'img/icons/check_green.svg' %}" alt="icon"> <span>Great! {{message}}.</span>
                    
                  </div>
                    {% elif message.tags == "error" %}


                  <div class="error-message">
                    <img src="{% static 'img/icons/cross_red.svg' %}" alt="icon"><span>Oops! {{message}}.</span>
                     </div>
                      {% endif %}
                  
             
                    {% endfor %}
          
                {% endif %}

                  <!--                            <div class="error-message">-->
                  <!--                                <img src="img/icons/cross_red.svg" alt="icon">-->
                  <!--                                <span>Oops! That is incorrect answer.</span>-->
                  <!--                            </div>-->
                 <!--  <a href="#" class="primary-button">Next Question<img src="img/icons/right_chevron_white.png" alt="icon"></a> -->
              
            

                  



    {% if not user_text_answer.answer_given %}
    <button class="primary-button" type="submit" value ="questionSubmitButton" name="questionSubmitButton">Submit Answer<img src="{% static 'img/icons/right_chevron_white.png' %}" alt="icon"></button>


    {% endif %}

                {% endif %}
                  <!-- <a href="#" class="primary-button">Submit Answer<img src="{% static 'img/icons/right_chevron_white.png' %}" alt="icon"></a> -->
                
                </div>
              </form>
            </div>
<!--           </div>
        </div> -->

            {% endif %}

        <form action='' method='POST'>{% csrf_token %}

			

            <div class="next-btn bottom-position">
              

              <button class="primary-button" type="submit" value ="nextLessonButton" name="nextLessonButton">Next<img src="{% static 'img/icons/right_chevron_white.png' %}" alt="icon"></button>


            </div>
            </form>
          </div>
        </div>
<!--         <div class="content">
          <div class="content-title">
            <h1>{{ current_uncompleted_instance.name }}</h1>
          </div>
          <div class="data-list">
            <div class="course-content content-full-height">
            	 {{ current_uncompleted_instance.content|safe}}
              <div class="first-line-content">
                


              </div>
            </div>
            <form action='' method='POST'>{% csrf_token %}

			

            <div class="next-btn bottom-position">
              

              <button class="primary-button" type="submit" value ="nextLessonButton" name="nextLessonButton">Next<img src="{% static 'img/icons/right_chevron_white.png' %}" alt="icon"></button>


            </div>
            </form>
          </div>
        </div> -->
      </div>

{% endblock %}