{% extends 'new_base.html' %}

{% load static %}

{% block content %}

          <div class="row">

        <div class="sidebar">
          <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
            <div class="sidebar-title-wrapper d-flex justify-content-between">
              <div class="sidebar-separator-title sidebar-title d-flex align-items-center menu-collapsed">
                <small>Your course</small>
              </div>
              <a href="#" data-toggle="sidebar-colapse" class="d-flex align-items-center">
                <div class="icon-collapse-wrapper d-flex w-100 justify-content-start align-items-center">
                  <img src="{% static 'img/icons/menu.svg' %}" alt="icon">
                </div>
              </a>
            </div>


            <ul class="nav nav-list">
              {% if request.user.teacher_student == "Teacher" %}
              {% for teacher_course in teacher_profile.course.all %}
              <li>
                <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu-{{teacher_course.slug}}">
                  <div class="main-menu-item menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                    <i id="collapse-folder-icon-main" class="fas fa-folder active"></i>
                    <span class="menu-collapsed menu-item-title">{{teacher_course.name}}</span>
                  </div>
                  <div class="line"></div>
                </a>

                <ul class="nav nav-list collapse submenu submenu-{{teacher_course.slug}}" id="submenu-{{teacher_course.slug}}">
                  <li>
                    {% for topic in teacher_course.topic_set.all %}
                    {% with forloop.counter as second_counter %}
                    <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu{{topic.slug}}">
                      <div class="sub-menu-item menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                        <i id="collapse-folder-icon-sub" class="fas fa-folder"></i>
                        <span class="menu-collapsed menu-item-title">{{ topic.name }}</span>
                      </div>
                      <div class="line"></div>

                      {% for lesson in topic.lesson_set.all %}
                      <ul class="nav nav-list collapse submenu{{topic.slug}}" id="submenu{{topic.slug}}">
                        <li>
                          <a href="{{ lesson.lessoncontent_set.all.0.get_absolute_url }}" class="">
                            <div class="menu-item-wrapper current d-flex w-100 justify-content-start align-items-center">
                              <img src="{% static 'img/icons/dot.svg' %}" alt="icon">
                              <span class="menu-collapsed menu-item-title">{{lesson.name}}</span>
                            </div>
                            <div class="line"></div>
                          </a>
                        </li>
                      </ul>
                      {% endfor %}
                    </a>
                    {% endwith %}
                    {% endfor %}
                  </li>
                </ul>


              </li>
              {% endfor %}

              {% elif request.user.teacher_student == "Student" %}
            {% for student_course in student_profile.course.all %}
              <li>
                <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu{{student_course.slug}}">
                  <div class="main-menu-item menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                    <i id="collapse-folder-icon-main" class="fas fa-folder active"></i>
                    <span class="menu-collapsed menu-item-title">{{student_course.name}}</span>
                  </div>
                  <div class="line"></div>
                </a>

                <ul class="nav nav-list collapse submenu submenu{{student_course.slug}}" id="submenu{{student_course.slug}}">
                  <li>
                    {% for topic in student_course.topic_set.all %}
                    {% with forloop.counter as second_counter %}
                    <a href="#" class="accordion-heading" data-toggle="collapse" data-target="#submenu{{topic.slug}}">
                      <div class="sub-menu-item menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                        <i id="collapse-folder-icon-sub" class="fas fa-folder"></i>
                        <span class="menu-collapsed menu-item-title">{{ topic.name }}</span>
                      </div>
                      <div class="line"></div>

                      {% for lesson in topic.lesson_set.all %}
                      <ul class="nav nav-list collapse submenu{{topic.slug}}" id="submenu{{topic.slug}}">
                        <li>
                           <a href="{{ lesson.lessoncontent_set.all.0.get_absolute_url }}" class="">
                            <div class="menu-item-wrapper current d-flex w-100 justify-content-start align-items-center">
                              <img src="{% static 'img/icons/dot.svg' %}" alt="icon">
                              <span class="menu-collapsed menu-item-title">{{lesson.name}}</span>
                            </div>
                            <div class="line"></div>
                          </a>
                        </li>
                      </ul>
                      {% endfor %}
                    </a>
                    {% endwith %}
                    {% endfor %}
                  </li>
                </ul>


              </li>
              {% endfor %}
               {% endif %}
           <!--    <li>
                <a href="#" class="">
                  <div class="menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                    <i class="fas fa-folder"></i>
                    <span class="menu-collapsed menu-item-title">System analysis</span>
                  </div>
                  <div class="line"></div>
                </a>
              </li> -->
            </ul>
            <ul class="list-group">

              <!--<a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">-->
              <!--<div class="d-flex w-100 justify-content-start align-items-center">-->
              <!--<i class="fas fa-folder"></i>-->
              <!--<span class="menu-collapsed">Data fundamentals</span>-->
              <!--</div>-->
              <!--</a>-->

              <!-- Submenu content -->
              <!--<div id='submenu1' class="collapse sidebar-submenu">-->
              <!--<a href="#" class="list-group-item list-group-item-action bg-dark text-white">-->
              <!--<span class="menu-collapsed">Charts</span>-->
              <!--</a>-->
              <!--<a href="#" class="list-group-item list-group-item-action bg-dark text-white">-->
              <!--<span class="menu-collapsed">Reports</span>-->
              <!--</a>-->
              <!--<a href="#" class="list-group-item list-group-item-action bg-dark text-white">-->
              <!--<span class="menu-collapsed">Tables</span>-->
              <!--</a>-->
              <!--</div>-->
            </ul><!-- List Group END-->
          </div><!-- sidebar-container END -->
        </div>
        <div class="content">
          <div class="content-title">
            <h1>{{topic.name}}</h1>
          </div>

          <div class="data-list">
            <div class="questions-content">
              <form action="" method="POST">{% csrf_token %}
                <div class="title">
                  <h3>Question 1 of 15</h3>
                </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: calc((1 / 15) * 100%)" aria-valuenow="1" aria-valuemin="0" aria-valuemax="15"></div>
                </div>

                <div class="question">
                  <h4 class="title">
                    {{instance.text|safe}}
                  </h4>

					<input type='hidden' name='question_id' value='{{ instance.id }}' />

       {% if user_answer_instance.answer_given %}

             <ul class="answers">
                   
                    <div class="custom-control custom-checkbox">
                      <input type="radio" checked class="custom-control-input" id='{{ user_answer_instance.my_answer.id }}' name='answer_id' value='{{ user_answer_instance.my_answer.id }}'>
                      <label class="custom-control-label" for='{{ ans.id }}'>
                        {{ user_answer_instance.my_answer.text }} 
                      </label>
                    </div>
                  </ul>


                <div class="success-message">
                    <img src="{% static 'img/icons/check_green.svg' %}" alt="icon"> <span>You have already answered.</span>
                    
                  </div>

                  {% else %}

                  <ul class="answers">
                  	{% for ans in instance.prepostanswer_set.all %}
                    <div class="custom-control custom-checkbox">
                      <input type="radio" class="custom-control-input" id='{{ ans.id }}' name='answer_id' value='{{ ans.id }}'>
                      <label class="custom-control-label" for='{{ ans.id }}'>
                        {{ ans.text}}
                      </label>
                    </div>
                    {% endfor %}
   
                  </ul>
                  {% endif %}
                </div>

                <div class="next-btn submit">

                  {% if messages %}
                  {% for message in messages %}
                    {% if message.tags == "success" %} 

                    <div class="success-message">
                    <img src="{% static 'img/icons/check_green.svg' %}" alt="icon"> <span>Great! {{message}}.</span>
                    
                  </div>
                    {% elif message.tags == "error" %}


                  <div class="error-message">
                    <img src="{% static 'img/icons/cross_red.svg' %}" alt="icon"><span>Oops! That is incorrect answer.</span>
                     </div>
                      {% endif %}
                  
						 
						        {% endfor %}
					
						    {% endif %}

<button class="primary-button" type="submit" value ="nextLessonButton" name="nextLessonButton">Next<img src="{% static 'img/icons/right_chevron_white.png' %}" alt="icon"></button>



             
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

{% endblock %}