{% load static %}
<!doctype html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <title>Inflection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='dns-prefetch' href='//s.w.org' />
   <link rel="stylesheet" href="{% static 'css/style.bundle.css' %}">


</head>

<body>
  <div class="main">
    <!--	HEADER-->
    <div class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Inflection</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          {% block navbar_items %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'teacher_student_modules' %}">
                <img src="{% static 'img/icons/list.svg' %}" alt="icon">
                Modules list
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'vocabulary' %}">
                <img src="{% static 'img/icons/vocabulary.svg' %}" alt="icon">
                Vocabulary
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">
                <img src="{% static 'img/icons/dashboard.svg' %}" alt="icon">
                Dashboard
              </a>
            </li>
            {% if request.user.teacher_student == "Teacher" %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'products_list' %}">
                <img src="{% static 'img/icons/people.svg' %}" alt="icon">
                Students
              </a>
            </li>
            {% endif %}
            <li class="nav-item">
              <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="{% static 'img/icons/person.svg' %}" alt="icon">
                  My profile
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="profile-info">
                    <div class="name">
                      <span>
                        {% if request.user.first_name and request.user.last_name %}

                        {{ request.user.first_name }} {{ request.user.last_name }}

                        {% else %}

                        You have not entered your details

                        {% endif %}


                      </span>
                      <a href="{% url 'account_profile' %}"  >
                        <img src="{% static 'img/icons/pen.svg' %}" alt="icon">
                      </a>
                    </div>
                    <div class="email">
                      <img src="{% static 'img/icons/envelope.svg' %}" alt="icon">
                      {{request.user.email}}
                    </div>
                    <div class="position">
                      <img src="{% static 'img/icons/magister.svg' %}" alt="icon">
                      {{request.user.teacherprofile_set.all.0.school.name }}
                    </div>
                  </div>
                  <a class="dropdown-links change-password" href="{% url 'account_change_password' %}">
                    <img src="{% static 'img/icons/lock.svg' %}" alt="icon">
                    Change password
                  </a>
                  <a class="dropdown-links logout" href="{% url 'account_logout' %}">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                  </a>
                </div>
              </div>
            </li>
          </ul>
          {% endblock %}
        </div>
      </nav>
    </div>
    <!--	HEADER-->



    <div class="container">
            {% if messages %}
<ul class="messages">
    {% for message in messages %}

   {% if message.tags == "success" %} 



   <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--   <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> {{ message }}
  </div> -->
  {% elif message.tags == "info" %} 

  <div class="alert alert-info" role="alert">
     <strong>Heads up!</strong> {{ message }}
  </div>

  {% elif message.tags == "error" %} 

  <div class="alert alert-danger" role="alert">
     <strong>Heads up!</strong> {{ message }}
  </div>

  {% endif %}

    {% endfor %}
</ul>
{% endif %}
      {% block content %}

       {% endblock %}
    </div>

  </div>
<!-- 
  <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="edit-profile-wrapper">
          <div class="header">
            <h1>inflection</h1>
            <span>Edit profile information</span>
          </div>
          <div class="input-wrapper">
            <div class="name">
              <label for="name">Full Name</label>
              <input id="name" type="text" placeholder="Enter Your Full Name" required>
            </div>
            <div class="email">
              <label for="email">Email Address</label>
              <input id="email" type="email" placeholder="Enter Your Email" required>
            </div>
            <div class="password">
              <label for="school">School</label>
              <input id="school" type="text" placeholder="Enter Your School" required>
              <span toggle="#password" class="toggle-password"><i class="fas fa-eye"></i></span>
            </div>
          </div>
          <div class="btn-wrapper">
            <button type="submit" class="">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div> -->
<!--   <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="change-password-wrapper">
          <div class="header">
            <h1>inflection</h1>
            <span>Change Password</span>
          </div>
          <div class="input-wrapper">
            <div class="name">
              <label for="current-pass">Your Current Password</label>
              <input id="current-pass" type="password" placeholder="Enter Your Current Password" required>
            </div>
            <div class="email">
              <label for="new-pass">Your New Password</label>
              <input id="new-pass" type="password" placeholder="Enter Your New Password" required>
            </div>
            <div class="password">
              <label for="confirm-pass">Confirm Password</label>
              <input id="confirm-pass" type="password" placeholder="Confirm Password" required>
            <span toggle="#password" class="toggle-password"><i class="fas fa-eye"></i></span>
            </div>
          </div>
          <div class="btn-wrapper">
            <button type="submit" class="">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div> -->

  <script src="{% static 'js/bundle.js' %}"></script>
   <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>



    <script>

     $(document).ready(function(){
       
        {% block jquery %}

   

        {% endblock %}
    });
      
    </script>
</body>

</html>