{% extends 'new_base.html' %}
{% load static %}



{% block content %}






  <div class="container">
    <form class="teacher-verification-wrapper" method="POST">{% csrf_token %}
      <div class="header">
        <h1>inflection</h1>
        <span>Edit Profile Information</span>
      </div>
          <div class="input-wrapper">
            <div class="name">
              <label for="id_first_name">First Name</label>
              <input  id="id_first_name" name="first_name" maxlength="30" type="text" placeholder="Enter Your First Name" required {% if request.user.first_name %} value ="{{ request.user.first_name }}" {% endif %}>
            </div>
            <div class="email">
              <label for="id_last_name">Last Name</label>
              <input id="id_last_name" name="last_name" maxlength="150" type="text"  placeholder="Enter Your Last Name" required {% if request.user.last_name %} value ="{{ request.user.last_name }}" {% endif %}>
            </div>
            <div class="password">
              <label for="school">Email</label>
              <input disabled id="school" type="text" value ="{{ request.user.email}}" required>
              <!--<span toggle="#password" class="toggle-password"><i class="fas fa-eye"></i></span>-->
            </div>

          </div>
      <div class="errorTxt"></div>
      <div class="btn-wrapper">
        <button type="submit" class="">Save Profile Details</button>
      </div>
    </form>
  </div>


 
{% endblock %}