{% extends 'base.html' %}



{% block content %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}

   {% if message.tags == "success" %} 
	<div class="alert alert-success" role="alert">
  			<strong>Well done!</strong> {{ message }}
	</div>
	{% elif message.tags == "info" %} 

	<div class="alert alert-info" role="alert">
 		 <strong>Heads up!</strong> {{ message }}
	</div>

	{% elif message.tags == "error" %} 

	<div class="alert alert-danger" role="alert">
 		 <strong>Heads up!</strong> {{ message }}
	</div>

	{% endif %}

    {% endfor %}
</ul>
{% endif %}


 {% if instance.question_type == 'multiple_choice' %}

                                      <!-- Post Title -->
                                <h2 class="blog-item-title font-alt">{{instance.text}}</a></h2>
                                
                                                        
                                <!-- Text Intro -->
                                <div class="blog-item-body">
                                  

                    <form method='POST' action='{% url "single_question" id=instance.id%}' > {% csrf_token %}
								{{ form.errors }}
							

								<input type='hidden' name='question_id' value='{{ instance.id }}' />

								<h3>Your answer</h3>
								{% for ans in instance.answer_set.all %}


								<input type='radio' name='answer_id' value='{{ ans.id }}' {% if user_answer.my_answer.id == ans.id %}checked=checked{% endif %} /> {{ ans.text }} <br/>

								{% endfor %}


								<br/>



								<input type='submit' value='Save and continue' class="btn btn-mod btn-circle btn-large" />

								<input type='hidden' name='form1' />
								</form>



                                </div>








                   {% elif instance.question_type == 'text_input' %}
                                <!-- Post Title -->
                                <h2 class="blog-item-title font-alt">{{instance.text}}</a></h2>
                                
                                                        
                                <!-- Text Intro -->
                                <div class="blog-item-body">
                                  

                               <form method='POST' action='{% url "single_question" id=instance.id%}' > {% csrf_token %}

							

									<input type='hidden' name='question_id' value='{{ instance.id }}' />

								<h3>Your answer</h3>

							   {{ form2.my_answer.errors }}
								{{ form2.my_answer }}


								 <div class="mb-10">

                                
                            </div>

                            


							<input type='submit' value='Save and continue'  class="btn btn-mod btn-circle btn-large"/>

							<input type='hidden' name='form1' />
							</form>

                                </div>



                            {% endif %}
                      


{% endblock %}