{% extends 'new_base.html' %}


{% block content %}

  <div class="container">
    <form class="student-verification-wrapper"  method="POST"> {% csrf_token %}
      <div class="header">
        <h1>inflection</h1>
        <span>Add Course</span>
      </div>

      <div class="input-wrapper">
        <!--<div class="name">-->
        <!--<label for="name">Your Name</label>-->
        <!--<input id="name" type="text" placeholder="Enter Your Name" required>-->
        <!--</div>-->

        <div class="email">
          <label for="id_teacher_email">Your Teacher's Email</label>
          <input id="id_teacher_email" type="email" name="teacher_email" placeholder="Enter Your Teacher's Email" required="">
        </div>


        <div class="uiid">

          <label for="id_course_uuid">Course UUID Provided by Teacher</label>
          <input id="id_course_uuid" type="text" name="course_uuid" placeholder="Enter Course UUID Provided by Teacher" required="">
        </div>


        <!--<div class="confirm-password">-->
        <!--<div class="d-flex justify-content-between">-->
        <!--<label for="password">Confirm Password</label>-->
        <!--</div>-->
        <!--<input id="confirm-password" type="password" placeholder="Enter Your Password" required>-->
        <!--<span toggle="#confirm-password" class="toggle-confirm-password"><i class="fas fa-eye"></i></span>-->
        <!--</div>-->
      </div>
      <div class="errorTxt"></div>
      <div class="btn-wrapper">
        <button type="submit" class="">Add Course</button>
      </div>
    </form>
  </div>

<!-- {% if messages %}
<ul class="messages">
    {% for message in messages %}

   {% if message.tags == "success" %} 
	<div class="alert alert-success" role="alert">
  			<strong>Well done!</strong> {{ message }}
	</div>
	{% elif message.tags == "info" %} 

	<div class="alert alert-info" role="alert">
 		 <strong>Heads up!</strong> {{ message }}
	</div>

	{% elif message.tags == "error" %} 

	<div class="alert alert-danger" role="alert">
 		 <strong>Heads up!</strong> {{ message }}
	</div>

	{% endif %}

    {% endfor %}
</ul>
{% endif %}
 -->





<!-- <h3>Enter the email and course id provided by your teacher</h3>

<br/>

<form method="POST"> {% csrf_token %}
{{ form.as_p }}

<input type="submit" name="Submit">
</form> -->

{% endblock %}