{% extends 'base.html' %}



{% block content %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}

   {% if message.tags == "success" %} 
	<div class="alert alert-success" role="alert">
  			<strong>Well done!</strong> {{ message }}
	</div>
	{% elif message.tags == "info" %} 

	<div class="alert alert-info" role="alert">
 		 <strong>Heads up!</strong> {{ message }}
	</div>

	{% endif %}

    {% endfor %}
</ul>
{% endif %}



<h3>Provide the following details to your students to let them subscribe to this course.</h3>


<p>Email: {{ instance.teacher.user.email }}</p>
<p>Course ID: {{ instance.course_uuid }}</p>





{% endblock %}