{% extends 'new_base.html' %}



{% block content %}



<div class="container">
    <form class="teacher-verification-wrapper" method="POST"> {% csrf_token %}
      <div class="header">
        <h1>inflection</h1>
        <span>Verify Yourself</span>
      </div>

      <div class="input-wrapper">
        <!--<div class="name">-->
        <!--<label for="name">Your Name</label>-->
        <!--<input id="name" type="text" placeholder="Enter Your Name" required>-->
        <!--</div>-->
        <div class="email">
          <label for="id_school_name" >Your School</label>
          <input  id="id_school_name" type="text" name="school_name" placeholder="Enter Your School Name"  maxlength="500" required="">
        </div>
        <div class="password">
          <div class="d-flex justify-content-between">
            <label  id="id_school_uuid">UUID provided by the school</label>
          </div>
 
          <input  id="id_school_uuid" type="text" name="school_uuid"  maxlength="500" placeholder="Enter UUID provided by the school" required="">
        </div>
        <!--<div class="confirm-password">-->
        <!--<div class="d-flex justify-content-between">-->
        <!--<label for="password">Confirm Password</label>-->
        <!--</div>-->
        <!--<input id="confirm-password" type="password" placeholder="Enter Your Password" required>-->
        <!--<span toggle="#confirm-password" class="toggle-confirm-password"><i class="fas fa-eye"></i></span>-->
        <!--</div>-->
      </div>
      <div class="errorTxt"></div>
      <div class="btn-wrapper">
        <button type="submit" class="">Verify Yourself</button>
      </div>
    </form>
<div>


{% endblock %}