{% extends 'new_base.html' %}

{% load static %}


{% block content %}


      <div class="row">

        <div class="sidebar">
          <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
            <div class="sidebar-title-wrapper d-flex justify-content-between">
              <div class="sidebar-separator-title sidebar-title d-flex align-items-center menu-collapsed">
                <small>Your course</small>
              </div>
              <a href="#" data-toggle="sidebar-colapse" class="d-flex align-items-center">
                <div class="icon-collapse-wrapper d-flex w-100 justify-content-start align-items-center">
                  <img src="{% static 'img/icons/menu.svg' %}" alt="icon">
                </div>
              </a>
            </div>

            {% for teacher_course in teacher_profile.course.all %}
            <a href="#" class="">
              <div class="menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                <i class="fas fa-folder"></i>
                <span class="menu-collapsed menu-item-title"> {{ teacher_course.name }}</span>
              </div>
              <div class="line"></div>
            </a>
            {% endfor %}
<!--             <a href="#" class="">
              <div class="menu-item-wrapper d-flex w-100 justify-content-start align-items-center">
                <i class="fas fa-folder"></i>
                <span class="menu-collapsed menu-item-title">System analysis</span>
              </div>
            </a>
            <ul class="list-group"> -->

              <!--<a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">-->
              <!--<div class="d-flex w-100 justify-content-start align-items-center">-->
              <!--<i class="fas fa-folder"></i>-->
              <!--<span class="menu-collapsed">Data fundamentals</span>-->
              <!--</div>-->
              <!--</a>-->

              <!-- Submenu content -->
              <!--<div id='submenu1' class="collapse sidebar-submenu">-->
              <!--<a href="#" class="list-group-item list-group-item-action bg-dark text-white">-->
              <!--<span class="menu-collapsed">Charts</span>-->
              <!--</a>-->
              <!--<a href="#" class="list-group-item list-group-item-action bg-dark text-white">-->
              <!--<span class="menu-collapsed">Reports</span>-->
              <!--</a>-->
              <!--<a href="#" class="list-group-item list-group-item-action bg-dark text-white">-->
              <!--<span class="menu-collapsed">Tables</span>-->
              <!--</a>-->
              <!--</div>-->
            </ul><!-- List Group END-->
          </div><!-- sidebar-container END -->
        </div>

        {% if request.user.teacher_student == "Teacher" %}
        <div class="content">
          <div class="content-title">
            <h1>Modules</h1>
            <a href="#" class="title-search">
              <i class="fas fa-search"></i>
            </a>
          </div>

          <div class="data-list">
          	{% for teacher_course in teacher_profile.course.all %}
            <div class="data-element">
              <div class="title">
                <h3 class="name">{{ teacher_course.name }}</h3>
                <div class="calendar">

                  <i class="far fa-calendar-alt date-picker-open"></i>

                  <input class="datepicker" placeholder="Assign due date">
                  <span></span>
                </div>
              </div>
              <div class="body">
                <div class="left-part">
                  <div class="topics">
                    <img src="{% static 'img/icons/list_second_v.svg' %}" alt="icon">
                    {{teacher_course.topic_set.all.count }} topics
                  </div>
                  <div class="progress-class">
                    <img src="{% static 'img/icons/check.svg' %}" alt="icon">
                    6/24 students completed
                  </div>
                </div>

                <div class="right-part">
                  <div class="links">
                    <a href="{% url 'vocabulary' %}" class="first-link">Open vocabulary</a>
                    <div class="separator"></div>
                    <a href="{{ teacher_course.get_slug_url }}" class="last-link">
                      View topics list
                      <img src="{% static 'img/icons/chevron_right_content.svg' %}" alt="icon">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>

        </div>




        {% elif request.user.teacher_student == "Student" %}
                <div class="content">
          <div class="content-title">
            <h1>Modules</h1>
            <a href="#" class="title-search">
              <i class="fas fa-search"></i>
            </a>
          </div>

          <div class="data-list">

            {% for student_course in student_profile.course.all %}
            <div class="data-element">
              <div class="secondary-progress-bar">
                <div class="title">
                  <span class="name">{{ student_course.name }}</span>
                  <span class="score">Due date: July 1, 2019</span>
                </div>

                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: calc((2 / 15) * 100%)" aria-valuenow="11" aria-valuemin="0" aria-valuemax="15"></div>
                </div>
              </div>
              <div class="body">
                <div class="left-part">
                  <div class="topics">
                    <img src="{% static 'img/icons/list_second_v.svg' %}" alt="icon">
                    {{student_course.topic_set.all.count }} topics
                  </div>
                </div>

                <div class="right-part">
                  <div class="links">
                    <a href="{% url 'vocabulary' %}" class="first-link">Open vocabulary</a>
                    <div class="separator"></div>
                    <a href="{{ student_course.get_slug_url }}" class="last-link">
                      View topics list
                      <img src="{% static 'img/icons/chevron_right_content.svg' %}" alt="icon">
                    </a>
                  </div>
                </div>
              </div>

            </div>
            {% endfor %}



          </div>
        </div>

        {% endif %}



      </div>

{% endblock %}