{% extends 'new_base.html' %}
{% load static %}



{% block content %}



{% if request.user.teacher_student == "Teacher" %}

{% if not teacher_profile.verified %}


	



      <div class="content">
        <div class="verification">
          <img src="{% static 'img/icons/verification.svg' %}" alt="icon">
          <p> You haven’t verified yourself. Complete the verifying form to see your modules, please</p>
          <a href= "{% url 'verify_teacher' %}" class="primary-button">Verify Yourself</a>

        </div>
      </div>
{% else %}
      <div class="content">
        <div class="verification">
          <img src="{% static 'img/icons/verification.svg' %}" alt="icon">
          <p> You have already verified yourself. Back to home?</p>
          <a href= "{% url 'teacher_student_modules' %}" class="primary-button">Take Me Back</a>

        </div>
      </div>

{% endif %}
{% endif %}
  {% if request.user.teacher_student == "Student" %}


{% if not student_profile.course.all %}

    <div class="container">
      <div class="content">
        <div class="verification">
          <img src="{% static 'img/icons/sad_book.svg' %}" alt="icon">
          <p>You have not registered for any course yet. Lets get you started quickly</p>
          <a href="{% url 'student-add-course' %}" class="primary-button">Add Course</a>
        </div>
      </div>
    </div>

{% else %}

    <div class="container">
      <div class="content">
        <div class="verification">
          <img src="{% static 'img/icons/sad_book.svg' %}" alt="icon">
          <p>Want to add another course?</p>
          <a href="{% url 'student-add-course' %}" class="primary-button">Add Course</a>
        </div>
      </div>
    </div>

{% endif %}
{% endif %}




 
{% endblock %}